<h1>{{ this.application?.name }}</h1>
<hr>

<nav mat-tab-nav-bar>
  <a mat-tab-link routerLink="config" routerLinkActive #rla3="routerLinkActive" [active]="rla3.isActive">
    <mat-icon>settings</mat-icon>
    <span class="fill">&nbsp; Configuration</span>
  </a>

  <a mat-tab-link routerLink="bindings" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive">
    <mat-icon>language</mat-icon>
    <span class="fill">&nbsp; Bindings</span>
  </a>

  <a mat-tab-link routerLink="deployments" routerLinkActive #rla2="routerLinkActive" [active]="rla2.isActive">
    <mat-icon>system_update_alt</mat-icon>
    <span class="fill">&nbsp; Deployments</span>
  </a>

  <a mat-tab-link routerLink="properties" routerLinkActive #rla4="routerLinkActive" [active]="rla4.isActive">
    <mat-icon>view_list</mat-icon>
    <span class="fill">&nbsp; Properties</span>
  </a>

</nav>
<router-outlet></router-outlet>
<pre>
{{ this.application | json }}
</pre>
